h1{
    color: green;
}
#ppp{
    color: blue;
    font-size: xx-large;
    
}

/*
# Etapa 1: Construir la aplicación
FROM node:latest AS builder

# Copiar los archivos de estilos y scripts
COPY estilos.css /app/estilos.css
COPY script.js /app/script.js

# Instalar minify y uglify
RUN npm install -g minify uglify-js

# Minificar y uglificar los archivos de estilos y scripts
RUN minify -o /app/estilos.min.css /app/estilos.css
RUN uglifyjs /app/script.js -o /app/script.min.js

# Etapa 2: Construir la imagen final con nginx
FROM nginx:latest

# Copiar los archivos minificados y la página HTML
COPY --from=builder /app/estilos.min.css /usr/share/nginx/html/estilos.min.css
COPY --from=builder /app/script.min.js /usr/share/nginx/html/script.min.js
COPY index.html /usr/share/nginx/html/index.html

# Exponer el puerto 80
EXPOSE 80

# Comando por defecto para ejecutar nginx
CMD ["nginx", "-g", "daemon off;"]

*/

/*
server {
    listen 80 default_server;
    listen [::]:80 default_server;

    root /var/www/html/dockerMulti;

    index index.html index.htm index.nginx-debian.html;

    server_name _;

    location / {
        try_files $uri $uri/ =404;
    }
}



*/